<div class="row">
  <div class="col-xs-4">
    <div class="row form-group">
      <div class="col-xs-4">
        <%= f.label :name, class: 'text-left' %>
      </div>
      <div class="col-xs-8">
        <%= f.input_field :name, class: 'no-border' %>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <%= f.input :active, :wrapper => :checkbox,
                         wrapper_html: { class: 'pull-left margin-right' } %>
    <%= f.button :button, class: "btn btn-orange",
                          data: {disable_with: "saving..."} do %>
      <i class="zmdi zmdi-save"></i>
    <% end %>
  </div>
</div>