<% active_page(:alerts) %>

<%= render partial: 'header' %>

<div class="container-fluid" style="padding-top: 15px">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs active-white" >
        <%= render partial: 'navbar' %>
      </ul>

      <div class="tab-content">
        Coming soon!
      </div>
    </div>
  </div>
</div>
