<div class="row">
  <h3 style="margin-top:0;">Battery Settings</h3>
</div>
<% (@mandate.class.batt_params).each do |sym| %>
  <div class="row form-group">
    <div class="col-xs-6 compact-label">
      <%= f.label sym %>
    </div>
    <div class="col-xs-6">
      <%= f.input_field sym, class: 'no-border' %>
    </div>
  </div>
<% end %>
