<h3 style="margin-top:0;">Filters</h3>
<div class="row form-group padding-horizontal">
  <div class="col-xs-6 compact-label">
    <%= f.label :filters_std_dev %>
  </div>
  <div class="col-xs-6">
    <%= f.input_field :filters_std_dev, class: 'no-border' %>
  </div>
</div>