<h3 style="margin-top:0;">Logging Parameters</h3>

<% (@mandate.class.available_logging_params).each do |sym| %>
  <div class="row form-group padding-horizontal">
    <div class="col-xs-6 compact-label">
      <%= f.label sym %>
    </div>
    <div class="col-xs-6">
      <%= f.input_field sym, class: 'no-border' %>
    </div>
  </div>
<% end %>