<div class="row">
  <h4 style="margin-top:0;">Weights</h4>
</div>

<div style="margin-left:-15px;">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Threshold</th>
        <th>High G Analog</th>
        <th>Analog & Digital</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding-top: 10px; padding-left:0;">Strongly On</td>
        <% %i(flow_switch_weight_strongly_on_high flow_switch_weight_strongly_on_analog_and_digital).each do |sym| %>
          <td style='padding-right:0;'><%= f.input_field sym, class: 'no-border', collection: [-2,-1,0,1,2] %></td>
        <% end %>
      </tr>
      <tr>
        <td style="padding-top: 10px; padding-left:0;">Weakly On</td>
        <% %i(flow_switch_weight_weakly_on_high flow_switch_weight_weakly_on_analog_and_digital).each do |sym| %>
          <td style='padding-right:0;'><%= f.input_field sym, class: 'no-border', collection: [-2,-1,0,1,2] %></td>
        <% end %>
      </tr>
      <tr>
        <td style="padding-top: 10px; padding-left:0;">Weakly Off</td>
        <% %i(flow_switch_weight_weakly_off_high flow_switch_weight_weakly_off_analog_and_digital).each do |sym| %>
          <td style='padding-right:0;'><%= f.input_field sym, class: 'no-border', collection: [-2,-1,0,1,2] %></td>
        <% end %>
      </tr>
      <tr>
        <td style="padding-top: 10px; padding-left:0;">Strongly Off</td>
        <% %i(flow_switch_weight_strongly_off_high flow_switch_weight_strongly_off_analog_and_digital).each do |sym| %>
          <td style='padding-right:0;'><%= f.input_field sym, class: 'no-border', collection: [-2,-1,0,1,2] %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>