<div class="row">
  <h3 style="margin-top:0;">SIF Settings</h3>
</div>

<div class="row form-group">
  <div class="col-xs-6 compact-label">
    <%= f.label :sif_threshold, DualGammaMandate.human_attribute_name(:sif_threshold),
                                class: 'text-left' %>
  </div>
  <div class="col-xs-6">
    <%= f.input_field :sif_threshold, class: 'no-border' %>
  </div>
</div>