development:
  adapter: postgresql
  encoding: unicode
  database: tracker_development
  pool: 5
  username: 
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: tracker_test
  pool: 5
  username: 
  password:
