<div class="col-xs-6">

  <div id="general">
    <h3 style="margin-top:0;">General Settings</h3>
    <% (@mandate.class.general_params).each do |sym| %>
      <div class="row form-group padding-horizontal">
        <div class="col-xs-6 compact-label">
          <%= f.label sym, class: 'text-left' %>
        </div>
        <div class="col-xs-6">
          <%= f.input_field sym, class: 'no-border' %>
        </div>
      </div>
    <% end %>
  </div>

</div>