<form class="form-inline pull-right"
      role="form"
      id="client-info-search-<%= type %>"
      action="/<%= type %>/search">
  <div class="form-group">
    <input class="form-control no-border pull-right"
           id="search-<%= type %>"
           name="keywords"
           placeholder="Search">
  </div>
</form>