<top-bar ng-init="init('Formations', 'New Formation')"></top-bar>

<div class="container-fluid">
  <div class="row vert-margins">
    <%= render partial: 'client_info/navbar' %>
  </div>

  <%= render partial: 'form', locals: {formation: @formation, url: formations_url( @formation, action: :create ) } %>
</div>