<top-bar ng-init="init('Runs', 'Edit Run')"></top-bar>

<div class="container-fluid">
  <div class="row vert-margins">
    <%= render partial: 'client_info/navbar' %>
  </div>

  <%= render partial: 'form', locals: {run: @run, url: run_path( @run ) } %>
</div>