<div class="dropdown">
  <a id="cog2" data-toggle="dropdown" href="#"><i class="icon zmdi-settings"></i></a>
  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="cog2">
    <li role="presentation"><a id="#critical" role="menuitem" tabindex="-1" ng-click="checkClicked( $event, object, 'Critical' )" href="#">Mark Critical</a></li>
    <li role="presentation"><a id="#false_alarm" role="menuitem" tabindex="0" ng-click="checkClicked( $event, object, 'False Alarm' )" href="#">Mark False Alarm</a></li>
    <li role="presentation"><a id="#resolved" role="menuitem" tabindex="1" ng-click="checkClicked( $event, object, 'Resolved' )" href="#">Mark Resolved</a></li>
  </ul>
</div>
