<div class="dropdown">
  <button class="btn btn-default btn-toggle" type="button" id="cog1" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></button>
  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="cog1">
    <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="{{object.edit_url}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="{{object.new_customer}}">Add Customer</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="{{object.new_job}}">Add Job</a></li>
  </ul>
</div>
