<form class="form-inline pull-right"
      role="form"
      ng-submit="searchText = filterText">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control rounded-border flat-select"
             ng-model="filterText">
    </div>
  </div>
</form>
