<form class="form-inline" role="form">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control flat-select rounded-border"
             id="erdos-search-input">
    </div>
  </div>
</form>