<div class="top-bar container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row info-panel">
                <div class="col-xs-2">
                    <span class="block">Job</span>
                    <span><%= job.name.try(:upcase) %></span>
                </div>
                <div class="col-xs-2">
                    <span class="block">Client</span>
                    <span><%= job.client.try(:name).try(:capitalize) %></span>
                </div>
                <div class="col-xs-2">
                    <span class="block">Well</span>
                    <span><%= job.well.try(:name).try(:capitalize) %></span>
                </div>
                <div class="col-xs-2">
                    <span class="block">Rig</span>
                    <span><%= job.rig.try(:name).try(:capitalize) %></span>
                </div>
                <div class="col-xs-1">
                    <i class="red-text zmdi zmdi-alert-triangle" ng-if="alerts"></i>
                </div>
            </div>
        </div>
    </div>
</div>
