<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<section>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">

        <div class="starter-template">
          <p class="lead"><%= image_tag "leam-logo.png", class: "img-responsive"%></p>
          <p class="text-center">Directional Driller's Dashboard</p>
        </div>
      </div>
      <div class="col-sm-6">
        <%= render partial: 'form'%>
      </div>
    </div>
  </div>
</div>
</section>
